<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jrry.wx.mapper.WxAccessTokenMapper">
  <resultMap id="BaseResultMap" type="cn.jrry.wx.domain.WxAccessToken">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="access_token" jdbcType="VARCHAR" property="access_token" />
    <result column="expires_in" jdbcType="INTEGER" property="expires_in" />
    <result column="expires_time" jdbcType="TIMESTAMP" property="expires_time" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_access_token
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jrry.wx.domain.WxAccessToken" useGeneratedKeys="true" keyProperty="id">
    insert into wx_access_token (access_token, expires_in,
      expires_time)
    values (#{access_token,jdbcType=VARCHAR}, #{expires_in,jdbcType=INTEGER},
      #{expires_time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.jrry.wx.domain.WxAccessToken">
    update wx_access_token
    set access_token = #{access_token,jdbcType=VARCHAR},
      expires_in = #{expires_in,jdbcType=INTEGER},
      expires_time = #{expires_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, access_token, expires_in, expires_time
    from wx_access_token
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, access_token, expires_in, expires_time
    from wx_access_token
  </select>
  <delete id="delete">
    DELETE from wx_access_token
  </delete>

  <select id="getAccessToken" resultType="string">
    SELECT access_token FROM wx_access_token ORDER BY id DESC limit 1
  </select>

</mapper>