<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jrry.wx.mapper.WxMenuMatchRuleMapper">
  <resultMap id="BaseResultMap" type="cn.jrry.wx.domain.WxMenuMatchRule">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="menu_id" jdbcType="BIGINT" property="menu_id" />
    <result column="tag_id" jdbcType="BIGINT" property="tag_id" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="client_platform_type" jdbcType="VARCHAR" property="client_platform_type" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="is_deleted" jdbcType="BIT" property="deleted" />
    <result column="cruser" jdbcType="VARCHAR" property="cruser" />
    <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
    <result column="mduser" jdbcType="VARCHAR" property="mduser" />
    <result column="mdtime" jdbcType="TIMESTAMP" property="mdtime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wx_menu_match_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.jrry.wx.domain.WxMenuMatchRule" useGeneratedKeys="true" keyProperty="id">
    insert into wx_menu_match_rule (menu_id, tag_id,
      sex, country, province, 
      city, client_platform_type, language, 
      is_deleted, cruser, crtime)
    values (#{menu_id,jdbcType=BIGINT}, #{tag_id,jdbcType=BIGINT},
      #{sex,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{client_platform_type,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      0, #{cruser,jdbcType=VARCHAR}, #{crtime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.jrry.wx.domain.WxMenuMatchRule">
    update wx_menu_match_rule
    set
      tag_id = #{tag_id,jdbcType=BIGINT},
      sex = #{sex,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      client_platform_type = #{client_platform_type,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      mduser = #{mduser,jdbcType=VARCHAR},
      mdtime = #{mdtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, menu_id, tag_id, sex, country, province, city, client_platform_type, language
    from wx_menu_match_rule
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, menu_id, tag_id, sex, country, province, city, client_platform_type, language
    from wx_menu_match_rule
  </select>


  <select id="selectByMenuid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, menu_id, tag_id, sex, country, province, city, client_platform_type, language
    from wx_menu_match_rule
    where menu_id = #{menu_id,jdbcType=BIGINT}
    limit 1
  </select>
  <delete id="deleteByMenuid" parameterType="java.lang.Long">
    delete from wx_menu_match_rule
    where menu_id = #{menu_id,jdbcType=BIGINT}
  </delete>
</mapper>